.block {
    display: grid;
}
.img-background {
    width: 80%;
    height: auto;
    margin: 0 10% 0 10%;
    border-radius: 0px 0px 80px 80px;
}
@media (max-width: 1024px) {
    .img-background {
        width: 100%;
        height: auto;
        margin: 0%;
    border-radius: 0px;
    }
}