
header {
    display: grid;
    grid-template-columns:  35% 50% 15%;
    background-color: rgb(150, 150, 238);
    align-items: center;
}
.ul-header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    width: 250px;
    margin-left: 10px;
    padding: 0%;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 80%;
}
.menu p {
    display: block;
    height: auto;
    font-size: 20px;
    margin-left: 10px;
}
.search-in {
    width: 240px;
    height: 25px;
    margin: 5px;
    background-color:rgb(151, 151, 238);
    border: 1px solid #000;
    font-size: 16px;
    outline: none;
}
.search {
    margin-right: 10px;
    justify-self:end;
    align-self:center;
}
.search-btn {
    width: 30px;
    height: 30px;  
    background-color: rgb(110, 110, 231); 
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.avatarBlock {
    display: grid;
    justify-self: end;
}
.avatarBlock img {
    justify-self: end;
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    margin: 10px;
}

@media (max-width:1024px) {
    header {
        grid-template-columns:  45% 35% 20%;
    }
    .search-in {
        width: 140px;
    } 
}

@media (max-width: 576px) {
    header {
        grid-template-columns:  35% 50% 15%;
        background-color: rgb(150, 150, 238);
    }
    .ul-header {   
        grid-template-columns: 160px;
        grid-template-rows: 50% 50%;
        width: 160px;
    }
    .search {
        margin-left: 10px;
        justify-self:center;
        align-self:center;
    }
    .log-in-btn {
        width: 80px;
        height: 20px;
    }
}
@media (max-width: 425px) {
    header {
        grid-template-columns:  10% 75% 15%;
    }
    .menu p {
        display: none;
    }
    .log-in-btn {
        width: 60px;
        height: 20px;
    }
    .log-in {
        justify-self:end;
        align-self:center;
        margin-right: 5px;
    }
    .search-in {
        width: 100px;
        height: 20px;
        margin: 2px;
    }
}

