.avatarBlock img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: repeat(auto-fit, 200px);
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.avatarBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    background-color: rgb(114, 114, 223);
    border-radius: 5px;
    height: 200px;
    justify-self: center;
    align-self: center;
}
.name p {
    text-align: center;
}

